.container-image {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }


.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
  }

.about {
    background-color: rgb(231, 231, 255);
  }

.about-me{
    text-align: center;
    font-size: 4vw;
    padding-top: 3%;
}

.mypic{
    width: 50%;
}

#mypicid{
    text-align: center;
}

#myAboutId{
    padding-top: 5%;
    padding-left: 7%;
}

.container-fluid-about{
    padding-bottom: 5%;
}