.container-image {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }


.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
  }


.about {
    background-color: rgb(231, 231, 255);
  }

.about-me{
    font-size: 4vw;
    padding-top: 5%;
    padding-left: 15%;
}

.mypic{
    width: 50%;
    padding-top: 10px;
}

#centeralignment{
    text-align: center;
}

#myAboutId{
    padding-top: 5%;
    padding-left: 7%;
}

.mypros{
    text-align: center;
    font-size: 4vw;
    padding-top: 3%;
}

.col{
    padding-top: 5%;
    padding-left: 50%;
}

.img{
    width: 30%;
}

.left{
    padding-left: 10%;
}

.right{
    padding-right: 10%;
}

.context{
    font-size: 2vw;
}

#right-text{
    position: relative;
    right: 10%;
}

#left-text{
    position: relative;
    left: 10%;
}

.works{
    background-color: antiquewhite;
}

.padded{
    /* padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%; */
    justify-content: center;
    align-items: center;
}