.container-image {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }


.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
  }


.about {
    background-color: rgb(231, 231, 255);
  }

.about-me{
    font-size: 4vw;
    padding-top: 5%;
    padding-left: 13%;
}

.mypic{
    width: 50%;
    padding-top: 10px;
}

#centeralignment{
    text-align: center;
}

#myAboutId{
    padding-top: 5%;
    padding-left: 7%;
}

.mypros{
    text-align: center;
    font-size: 4vw;
    padding-top: 3%;
}

.col{
    padding-top: 5%;
    padding-left: 50%;
}

.img{
    width: 30%;
}

.left{
    padding-left: 10%;
}

.right{
    padding-right: 10%;
}

.context{
    font-size: 2vw;
}

#right-text{
    position: relative;
    right: 10%;
}

#left-text{
    position: relative;
    left: 10%;
}

.works{
    background-color: antiquewhite;
}

.padded{

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;

}

.card-edited{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10%;
    margin: 0 auto;
    float: none;
    margin-bottom: 2%;
}

img.card-img{
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}


.btn-contact{
    background-color: #ffffff;
    color: rgb(160, 160, 160);
    padding: 15px 32px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
}